 /* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) 
@media (min-width: 576px) { ... }

/* // Medium devices (tablets, 768px and up) 
@media (min-width: 768px) { ... }

/* // Large devices (desktops, 992px and up) 
@media (min-width: 992px) { ... }

/* // Extra large devices (large desktops, 1200px and up) 
@media (min-width: 1200px) { ... } 



/* h1, h3
{
    text-align:center;
}
h3
{
    background-color:black;
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
}
.news p
{
    background-color:#CCCCCC;
    margin-top:0px;
}
.news
{
    width:70%;
    margin:auto;
}

a
{
    text-decoration: none;
    color: blue;
} */

.card-deck
{
    display: flex;
   box-align: center;
}
.card
{
    border-color: black;
    
}
.card-body
{
    color: black;
}